body {
    max-width: 1400px;
    font-family: Raleway, sans-serif;
    margin-right: 50px;
    margin-left: 50px;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

ol {
    list-style-type: none;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.logo-header {
    max-width: 60px;
    margin-top: 35px;
}

.nav-header {
    text-align: end;
    vertical-align: bottom;
}

.list-nav-header {
    display: inline-flex;
    gap: 50px;
    padding-top: 20px;
}

.item-nav-header {
    text-decoration: none;
    color: black;
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 200;
}

.it2 {
    padding-right: 32px;
    padding-left: 32px;
}

.item-nav-header:hover {
    border-top: solid;
    border-color: #0065fc;
    color: #0065fc;
}

.item-nav-header:focus {
    border-top: solid;
    border-color: #0065fc;
    color: #0065fc;
}

#section-recherche > p {
    font-size: 16px;
}

.ensemble-recherche {
    display: inline-flex;
}

.icone-recherche {
    margin: auto;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

.ensemble-recherche {
    display: inline-flex;
    margin: 0;
}

.champ-recherche-localisation {
    height: 60px;
    border-top: solid 2px;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 0px;
    border-color: #f2f2f2;
    box-shadow: 0px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.boutton-rechercher-localisation {
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #0065fc;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.info-filtre {
    font-family: Raleway, serif;
    border: solid 2px;
    border-color: #f2f2f2;
    padding: 2px 10px 2px 10px;
    border-radius: 100%;
    color: #0065fc;
    font-weight: 700;
    margin-right: 5px;
}

.filtres {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.elem-filtre {
    text-decoration: none;
    color: black;
}


