body {
    max-width: 1400px;
    font-family: Raleway, sans-serif;
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

ol {
    list-style-type: none;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.logo-header {
    max-width: 60px;
    margin-top: 35px;
}

.nav-header {
    text-align: end;
    vertical-align: bottom;
}

.list-nav-header {
    display: inline-flex;
    gap: 50px;
    padding-top: 20px;
}

.item-nav-header {
    text-decoration: none;
    color: black;
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 200;
}

.it2 {
    padding-right: 32px;
    padding-left: 32px;
}

.item-nav-header:hover {
    border-top: solid;
    border-color: #0065fc;
    color: #0065fc;
}

.item-nav-header:focus {
    border-top: solid;
    border-color: #0065fc;
    color: #0065fc;
}

#section-recherche > p {
    font-size: 16px;
}

.ensemble-recherche {
    display: inline-flex;
}

.icone-recherche {
    margin: auto;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

.ensemble-recherche {
    display: inline-flex;
    margin: 0;
}

.champ-recherche-localisation {
    height: 60px;
    border-top: solid 2px;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 0px;
    border-color: #f2f2f2;
    box-shadow: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.boutton-rechercher-localisation {
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #0065fc;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.titre-filtres {
    font-size: 18px;
}

.info-filtre {
    font-family: Raleway, serif;
    border: solid 2px;
    border-color: #f2f2f2;
    padding: 2px 10px 2px 10px;
    border-radius: 100%;
    color: #0065fc;
    font-weight: 700;
    margin-right: 5px;
}

.filtres {
    display: flex;
    font-size: 17px;
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
    font-weight: 700;
}

.elem-filtre {
    text-decoration: none;
    font-size: 17px !important;
    color: black;
    border: solid 3px;
    border-color: #f2f2f2;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.icone-filtre {
    margin-right: 10px;
    color: #0065fc;
}

.elem-filtre:focus {
    background-color: #DEEBFF;
}

.fa-star {
    color: #0065fc;
}

.card1 {
    width: 245px;
    background-color: #FFFFFF;
    border: solid 5px;
    border-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px 20px 20px 20px;
}

.card1 > img {
    width: 100%;
    object-fit: cover;
    border-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 124px;
}

.card1-container > h3{
    margin-top: -2px;
}

.card1-container > p{
    margin-top: -15px;
}

.card2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    width: 340px;
    height: 140px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
}

.card1-container {
    margin-left: 20px;
}

.card2-container > h3 {
    margin-top: 10px;
}

.card2-container {
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.card2-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.card2-note {
    margin-top: 30px;
}

.fa-chart-line {
    color: #0065fc;
}

#hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.hebergements-marseille {
    flex-basis: 70%;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.hebergements-populaires {
    justify-content: center;
    flex-basis: 25%;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    padding-left: 10px;
}

.global-marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.global-populaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.populaires-graph {
    display: flex;
    flex-direction: row;
}

.populaires-graph > h2 {
    flex-basis: 80%;
}

.fa-chart-line {
    flex-basis: 20%;
    margin: auto;
}

.hebergements-marseille > h2, .hebergements-marseille > h3{
    margin-left: 68px;
}





