body {
    max-width: 1400px;
    font-family: Raleway, sans-serif;
    margin: auto;
    overflow: scroll;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 17px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

ol {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

main {
    margin-left: 15px;
    margin-right: 15px;
}


.logo-header {
    flex-basis: 75%;
    max-width: 60px;
    margin-top: 40px;
    height: 16px;
}

.nav-header {
    flex-basis: 25%;
    text-align: end;
    vertical-align: bottom;
}

.list-nav-header {
    display: inline-flex;
    gap: 50px;
    padding-top: 20px;
}

.item-nav-header {
    text-decoration: none;
    color: black;
    padding-top: 33px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 200;
}

.it2 {
    padding-right: 32px;
    padding-left: 32px;
}

.item-nav-header:hover {
    border-top: solid;
    border-color: #0065fc;
    color: #0065fc;
}

.item-nav-header:focus {
    border-top: solid;
    border-color: #0065fc;
    color: #0065fc;
}

#section-recherche>p {
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 18px;
    font-weight: 400;
}


.icone-recherche {
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

button {
    display: none;
}

.ensemble-recherche {
    display: inline-flex;
}

.champ-recherche-localisation {
    height: 50px;
    border-top: solid 2px;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 0px;
    border-color: #f2f2f2;
    box-shadow: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.boutton-rechercher-localisation {
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: #0065fc;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

#filtres {
    margin-top: 40px;
}

.ensemble-filtres {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.titre-filtre {
    font-size: 18px;
}

#filtres>p {
    margin-top: 40px;
}


.info-filtre {
    font-family: Raleway, serif;
    border: solid 2px;
    border-color: #f2f2f2;
    padding: 2px 10px 2px 10px;
    border-radius: 100%;
    color: #0065fc;
    font-weight: 700;
    margin-right: 5px;
}

.info-filtre-contenu {
    align-self: center;
}

.p-info {
    line-height: 27px;
}

.filtres {
    display: flex;
    font-size: 17px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    font-weight: 700;
}

.elem-filtre {
    text-decoration: none;
    font-size: 17px !important;
    color: black;
    border: solid 3px;
    border-color: #f2f2f2;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.icone-filtre {
    margin-right: 10px;
    color: #0065fc;
}

.elem-filtre:focus {
    background-color: #DEEBFF;
}

.fa-star {
    color: #0065fc;
}

.card1 {
    width: 245px;
    background-color: #FFFFFF;
    border-top: solid 5px;
    border-left: solid 5px;
    border-right: solid 5px;
    border-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px 20px 20px 20px;
}

.link-card1 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    color: black;
    box-shadow: none;
}

.card1>img {
    width: 100%;
    object-fit: cover;
    border-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 124px;
}

.card1-container>h3 {
    margin-top: 5px;
}

.card1-container>p {
    margin-top: -8px;
}

.link-card2 {
    text-decoration: none;
    color: black;
    border: 5px solid white;
}

.card2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    width: 340px;
    height: 140px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
}

.card1-container {
    margin-left: 13px;
}

.card2-container>h3 {
    margin-top: 10px;
}

.card2-container {
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 7px;
}

.card2-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.card2-note {
    margin-top: 30px;
}

.card2-ex {
    margin-top: 50px;
}

.exept-card2 {
    margin-top: 52px;
}

.fa-chart-line {
    color: #0065fc;
}

#hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 68px;
    margin-top: 50px;
}

.card1-container>h3 {
    font-size: 16px;
}

.card1-container>p {
    font-size: 14px;
}

.hebergements-marseille {
    flex-basis: 65%;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.hebergements-populaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.global-marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.global-populaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    padding-left: 37px;
}

.populaires-graph {
    display: flex;
    flex-direction: row;
    padding-left: 37px;
    margin-top: -24px;
}

.populaires-graph>h1 {
    flex-basis: 86%;
}

.fa-chart-line {
    flex-basis: 14%;
    margin: auto;
}

.hebergements-marseille>h1,
.hebergements-marseille>h2 {
    margin-left: 36px;
}

.hebergements-marseille>h1 {
    margin-top: 35px;
}

.hebergements-marseille>h2 {
    margin-bottom: 35px;
    margin-top: 35px;
}

.container-activites-marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.elem-activites {
    flex-basis: 20%;
    height: 440px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px 20px 20px 20px;
}

.img-elem-activites {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.link-activites {
    box-shadow: none;
    color: black;
    text-decoration: none;
}

.titre-elem-activites {
    border-radius: 0px 0px 20px 20px;
    margin-left: 20px;
}



#activites-marseille {
    margin-bottom: 70px;
    margin-top: 70px;
}

footer {
    background-color: #f2f2f2;
}

.container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 70px;
}

.elem-footer {
    flex-basis: 33%;
}

ul {
    list-style-type: none;
}

.lien-footer {
    color: black;
    text-decoration: none;
}

.elem-footer > h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.elem-list-footer {
    padding: 0px;
    font-size: 16px;
}

.li-footer {
    margin-bottom: 12px;
}

.link-marseille {
    text-decoration: none;
    color: black;
}

/*RUPTURE SECTION HEBERGEMENTS*/
@media screen and (max-width: 1390px) {
    .hebergements-marseille {
        flex-basis: 100%;
    }

    .hebergements-marseille>h2 {
        margin: 0px;
        margin-top: 25px;
        margin-left: 40px;
        margin-bottom: 25px;
    }

    .global-marseille {
        margin-right: 5px;
        margin-left: 5px;
    }

    .card1 {
        width: 300px;
    }

    #hebergements {
        margin-top: 40px;
    }

    .hebergements-populaires {
        flex-basis: 100%;
    }

    .hebergements-marseille>h3 {
        margin: 0px;
        margin-top: 18px;
        margin-bottom: 18px;
        text-align: center;
    }

    .global-populaires {
        flex-direction: row;
        margin-bottom: 30px;
        flex-wrap: wrap;
        padding-left: 0px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .container-activites-marseille {
        justify-content: center;
    }

    .populaires-graph {
        margin-top: 0px;
        margin-left: 45px;
    }

    .populaires-graph>h2 {
        flex-basis: 98%;
    }

    .fa-chart-line {
        flex-basis: 2%;
        margin: auto;
    }
}

/* conformément à la maquette il faut réduire la taille des card à partir de 1024px et non 992px*/
/*1024px*/
@media screen and (max-width: 1025px){
    
    body {
        margin-right: 37px;
        margin-left: 37px;
    }

    .card1 {
        width: 250px;
        height: 200px;
    }

    .card1-container>h3 {
        margin-top: 0px;
    }

    .card2 {
        width: 250px;
        height: 140px;
    }

    .card2-container > p {
        margin-bottom: 10px;
    }

    .global-populaires {
        gap: 41px;
    }

    .hebergements-marseille > h1 {
        margin-left: 40px;
    }

    #hebergements {
        gap: 53px;
    }

    .hebergements-populaires {
        padding-bottom: 20px;
    }

    .populaires-graph {
        padding-left: 0px;
    }

    .desc-card2 {
        margin-top: -10px;
    }

    .card2-note {
        margin-top: 27px;
    }

    .exept-card2-2 {
        margin-top: -1px;
    }

    .container-activites-marseille {
        gap: 61px;
    }

    .elem-activites {
        height: 270px;
        width: 182px;
    }

    .elem-activites>img {
        height: 77%;
    }

    .titre-calanques {
        margin-top: 6px;
    }

    .titre-dame {
        margin-top: 6px;
    }
}

/* TABLETTES */
@media screen and (max-width: 992px) {
    .elem-activites {
        width: 182px;
        height: 267px;
    }

    .container-activites-marseille {
        justify-content: space-between;
    }

    .elem-activites>img {
        height: 70%;
    }

    .elem-activites>h3 {
        margin: 0px;
        text-align: center;
        margin-top: 15px;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 768px) {

    #main {
        margin: 0px;
    }

    body {
        margin-left: 0px;
        margin-right: 0px;
    }

    header {
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        font-size: 16px;
        margin: 0px;
    }

    .logo-header {
        flex-basis: auto;
        margin-top: 0px;
    }

    .nav-header {
        flex-basis: auto;
        text-align: center;
    }

    header>a {
        text-align: center;
    }

    .list-nav-header {
        gap: 0px;
        padding-inline-start: 0px;
        padding-top: 0px;
        display: flex;
    }

    .list-nav-header>li {
        flex-grow: 0.5;
        padding-bottom: 15px;
    }

    .item-nav-header {
        max-width: max-content;
        padding-bottom: 8px;

    }

    .item-nav-header:hover {
        border-top: none;
    }

    .item-nav-header:focus {
        border-top: none;
    }

    .list-nav-header>li {
        border-bottom: solid;
        border-color: #f2f2f2;
        color: #0065fc;
    }

    .list-nav-header>li:hover {
        border-bottom: solid;
        border-color: #0065fc;
        color: #0065fc;
    }

    .list-nav-header>li:focus {
        border-bottom: solid;
        border-color: #0065fc;
        color: #0065fc;
    }

    main {
        margin-left: 0px;
        margin-right: 0px;
    }

    #section-recherche>h1 {
        margin-left: 15px;
        margin-right: 15px;
    }

    #section-recherche>p {
        margin-left: 15px;
        margin-right: 15px;
    }

    #section-recherche {
        margin-bottom: 0px;
    }

    #filtres {
        margin-top: 0px;
    }

    .elem-filtre {
        padding-left: 8px;
        padding-right: 8px;
        width: 124px;
        height: 38px;
    }

    .filtres {
        align-self: center;
    }

    .icone-recherche {
        padding: 15px;
    }

    .boutton-rechercher-localisation {
        display: none;
    }

    .champ-recherche-localisation {
        height: 40px;
    }


    .icone-rechercher {
        height: 40px;
    }

    .form-recherche {
        display: inline-flex;
    }

    .ensemble-recherche {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .icone-recherche {
        margin: 0px;
    }

    #section-recherche {
        margin-bottom: 40px;
    }

    button {
        display: block;
        border: 0px;
        background-color: #0065fc;
        width: 45px;
        border-radius: 0px 15px 15px 0px;
        height: 46px;
        color: white;
    }

    button>i {
        margin-top: 17px;
    }

    .elem-filtre>h3 {
        font-size: 11px;
    }

    .icone-filtre {
        font-size: 15px;
    }

    .elem-filtre {
        width: 125px;
    }

    .filtres {
        gap: 16px;
        margin-top: 0px;
        justify-content: center;
    }

    #filtres>p {
        margin-left: 8px;
        margin-right: 8px;
    }

    .titre-filtre {
        padding-left: 15px;
    }

    .populaires-graph {
        margin-left: 0px;
        padding-left: 13px;
    }

    .card2 {
        max-width: 300px;
    }

    .exept-card2 {
        margin-top: 32px;
    }

    .hebergements-marseille {
        border-radius: 0px 0px 0px 0px;
        background-color: white;
    }

    .hebergements-populaires {
        border-radius: 0px 0px 0px 0px;
    }

    #hebergements {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-activites-marseille {
        margin: 0px 10px;
        justify-content: center;
    }

    .elem-activites {
        width: 300px;
        height: 260px;
    }

    #activites-marseille>h2 {
        text-align: center;

    }
}

/*RUPTURE FILTRES*/
@media screen and (max-width: 746px) {
    .titre-filtre {
        margin-bottom: -15px;
    }
}

/*RUPTURE FOOTER*/
@media screen and (max-width: 588px) {
    .container-footer {
        flex-direction: column;
        text-align: left;
    }

    .elem-footer {
        margin-left: 0px;
    }

    .container-footer {
        padding-left: 30px;
    }

    footer {
        margin: 0px;
    }
}